* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: calc(100% - 64px);
  margin: 0;
}

a:link {
  color: var(--mdc-theme-primary-dark);
}

a:visited {
  color: var(--mdc-theme-primary-dark);
}

a:hover {
  color: var(--mdc-theme-secondary-dark);
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.toolbar-icon {
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.gist-list {
  border-right: 1px solid var(--mdc-theme-border);
  box-shadow: 2px 0 4px -1px rgba(0, 0, 0, 0.2);
  float: left;
  max-width: 70%;
  min-width: 100px;
  overflow: auto;
  resize: horizontal;
  width: 30%;
}

.gist-list .mdc-list {
  padding-left: 0;
  padding-right: 0;
}

.gist-list-item {
  border-bottom: 1px solid var(--mdc-theme-border);
  cursor: pointer;
  padding: 0 16px;
}

.gist-list-item:last-child {
  border-bottom: none;
}

.gist-list-item:hover {
  background: rgba(255, 89, 112, 0.7);
}

.gist-list .selected {
  background: rgba(255, 89, 112, 0.2);
}

.gist-detail {
  overflow: scroll;
}

.gist-detail .mdc-card {
  background: white;
  margin: 16px;
  padding: 8px;
}

.gist-detail .button-block {
  overflow: auto;
  padding: 0 16px 16px 16px;
  width: 100%;
}

.gist-detail .button-block .normal-bg-color {
  background-color: var(--mdc-theme-background);
  border: 2px solid var(--mdc-theme-primary-light);
  color: var(--mdc-theme-primary);
}

.mdc-card .icon-span {
  margin-right: 0.5em;
  padding-top: 1em;
}

.mdc-card .svg-inline--fa {
  vertical-align: -1px;
}

.mdc-toolbar {
   /* aceのエディタ対策 */
   z-index: 10;
}

.mdc-toolbar__title {
  cursor: default;
}

.ace_editor {
  border: 1px solid var(--mdc-theme-border);
}

:root {
  --mdc-theme-primary: #434343;
  --mdc-theme-primary-light: #6e6e6e;
  --mdc-theme-primary-dark: #1c1c1c;
  --mdc-theme-secondary: #cb1b45;
  --mdc-theme-secondary-light: #ff5970;
  --mdc-theme-secondary-dark: #93001f;
  --mdc-theme-background: #eceff1;

  --mdc-theme-border: rgba(110, 110, 110, 0.5)  /* #6e6e6e */
}