<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
</head>
<body class="mdc-typography">
<div id="gist" class="full-height">
  <!-- メニュー部分 -->
  <header class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
        <span class="mdc-toolbar__title">NetaCho</span>
      </section>

      <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
        <span class="mdc-toolbar__icon" @click="newItem"><i class="fas fa-plus-square fa-2x"></i></span>
        <span class="mdc-toolbar__title">{{ user.name }}</span>
        <a :href="user.url" class="mdc-toolbar__icon" target="_blank"><i class="fab fa-github fa-2x"></i></a>

        <!--<div class="mdc-menu-anchor">-->
        <!--<div class="mdc-simple-menu" tabindex="-1" id="demo-menu">-->
        <!--<ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true" style="transform: scale(1, 1);">-->
        <!--<li class="mdc-list-item" role="menuitem" tabindex="0" style="transition-delay: 0.069s;">Back</li>-->
        <!--<li class="mdc-list-item" role="menuitem" tabindex="0" style="transition-delay: 0.124s;">Forward</li>-->
        <!--<li class="mdc-list-item" role="menuitem" tabindex="0" style="transition-delay: 0.179s;">Reload</li>-->
        <!--<li class="mdc-list-divider" role="separator"></li>-->
        <!--<li class="mdc-list-item" role="menuitem" tabindex="0" style="transition-delay: 0.236s;">Save As...</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
      </section>
    </div>
  </header>
  <main class="mdc-toolbar-fixed-adjust full-height">
    <!-- ダイアログ -->
    <aside class="mdc-dialog" onclick="">
      <div class="mdc-dialog__surface">
        <header class="mdc-dialog__header">
          <h2 class="mdc-dialog__header__title">
            Use Google's location service?
          </h2>
        </header>
        <section class="mdc-dialog__body">
          Let Google help apps determine location. This means sending anonymous location data to Google, even when no
          apps are running.
        </section>
        <footer class="mdc-dialog__footer">
          <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">
            Decline
          </button>
          <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">
            Accept
          </button>
        </footer>
      </div>
      <div class="mdc-dialog__backdrop"></div>
    </aside>
    <!-- リスト部分 -->
    <div class="full-height"
        style="background: #ddd; resize: horizontal; overflow: auto; min-width: 100px; max-width: 70%; width: 30%; float: left;">
      <ul class="mdc-list mdc-list--two-line mdc-list--dense">
        <li class="mdc-list-item" v-for="gist in gists" :value="gist.id" @click="clickList">
                        <span class="mdc-list-item__text">
                            {{ gist.title }}
                            <span class="mdc-list-item__secondary-text">
                                {{ gist.summary }}
                            </span>
                        </span>
          <span class="mdc-list-item__end-detail">
                            <i class="fas fa-user-secret" v-if="!gist.public"></i>
                        </span>
        </li>
      </ul>
    </div>
    <!-- 詳細部分 -->
    <div v-if="detail !== null" class="full-height" style="padding: 10px; overflow: scroll;">
      <!-- ヘッダ部分 -->
      <div class="mdc-card">
        <div class="mdc-form-field mdc-form-field--align-end"
             style="display: grid; grid-template-columns: 10fr 1fr 2fr; grid-gap: 10px">
          <div class="mdc-text-field">
            <input type="text" class="mdc-text-field__input" placeholder="Gist description..." v-model="detail.summary">
            <div class="mdc-text-field__bottom-line"></div>
          </div>
          <div>
            <i class="fas fa-user-secret" v-show="!detail.public"></i>
          </div>
          <button v-if="!detail.new" class="mdc-button mdc-button--raised" @click="deleteItem">Delete</button>
        </div>
        <span class="mdc-typography--caption">{{ detail.created_at }}</span>
      </div>
      <!-- ファイル部分 -->
      <div v-for="(file, index) in detail.files" class="mdc-card">
        <div class="mdc-form-field mdc-form-field--align-end"
             style="display: grid; grid-template-columns: 7fr 3fr; grid-gap: 10px">
          <div class="mdc-text-field">
            <input type="text" class="mdc-text-field__input" placeholder="Filename including extension..."
                   v-model="file.name">
          </div>
          <button class="mdc-button" v-show="canFileDelete" @click="deleteFile(index)">
            <i class="far fa-trash-alt fa-3x mdc-button--dense"></i>
          </button>
        </div>

        <editor :content.sync="file.content" :language="file.language"></editor>
      </div>
      <!-- フッタ部分 -->
      <div>
        <button class="mdc-button mdc-button--raised" @click="addFile">Add File</button>
      </div>
      <div>
        <button class="mdc-button mdc-button--raised" @click="">Reset</button>
        <button class="mdc-button mdc-button--raised" v-show="!detail.new" @click="update">Update</button>
        <button class="mdc-button mdc-button--raised" v-show="detail.new" @click="create('false')">Create secret gist</button>
        <button class="mdc-button mdc-button--raised" v-show="detail.new" @click="create('true')">Create public gist</button>
      </div>
    </div>

  </main>
</div>

<!-- script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ext-modelist.js"></script>
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<script>
    window.mdc.autoInit();

    // TODO: 仮
    // var modelist = require("ace/ext/modelist");
    //console.debug(modelist.modesByName);

    // var dialog = new mdc.dialog.MDCDialog(document.querySelector('#loading_dialog'));
    // dialog.show();
</script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="static/index.js"></script>

</body>
</html>