<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <title>%% title %%</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
</head>
<body class="mdc-typography mdc-theme--background">
<div id="gist" class="full-height">
  <!-- メニュー部分 -->
  <header class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
        <span class="mdc-toolbar__title">%% title %%</span>
      </section>

      <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
        <span class="mdc-toolbar__icon" @click="newItem"><i class="fas fa-plus-square fa-2x"></i></span>

        <div class="mdc-toolbar__title">
          <div id="account-menu" class="mdc-simple-menu" tabindex="-1" style="top: 64px; float: right;">
            <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
              <li class="mdc-list-item" role="menuitem">Sign out</li>
            </ul>
          </div>
          <span id="account-button" class="toolbar-icon">{{ user.name }}</span>
        </div>

        <a :href="user.url" class="mdc-toolbar__title mdc-toolbar__icon" target="_blank">
          <img :src=user.avatarURL class="toolbar-icon clickable">
        </a>
      </section>
    </div>
  </header>
  <main class="mdc-toolbar-fixed-adjust full-height">
    <!-- ダイアログ -->
    <aside class="mdc-dialog" onclick="">
      <div class="mdc-dialog__surface">
        <header class="mdc-dialog__header">
          <h2 class="mdc-dialog__header__title">
            Use Google's location service?
          </h2>
        </header>
        <section class="mdc-dialog__body">
          Let Google help apps determine location. This means sending anonymous location data to Google, even when no
          apps are running.
        </section>
        <footer class="mdc-dialog__footer">
          <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">
            Decline
          </button>
          <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">
            Accept
          </button>
        </footer>
      </div>
      <div class="mdc-dialog__backdrop"></div>
    </aside>
    <!-- リスト部分 -->
    <div class="full-height gist-list">
      <ul class="mdc-list mdc-list--two-line mdc-list--dense">
        <li class="mdc-list-item gist-list-item" v-for="gist in gists" :value="gist.id" @click="clickList">
          <span class="mdc-list-item__text">
            {{ gist.title }}
            <span class="mdc-list-item__secondary-text">{{ gist.summary }}&nbsp;</span>
          </span>
          <span class="mdc-list-item__end-detail">
            <i class="fas fa-user-secret" v-if="!gist.public"></i>
          </span>
        </li>
      </ul>
    </div>
    <!-- 詳細部分 -->
    <div v-if="detail !== null" class="gist-detail full-height">
      <!-- ヘッダ部分 -->
      <div class="mdc-card">
        <div v-if="!detail.new" class="mdc-typography--caption">
          <div style="float: left">
            <div>
              <span v-if="!detail.public"><i class="fas fa-user-secret fa-lg"></i></span>
              <span>
                <a :href="detail.url" target="_blank"><i class="fab fa-github fa-lg"></i></a>
              </span>
              <span>{{ detail.id }}</span>
            </div>
            <span class="mdc-theme--text-secondary-on-background">{{ dateString }}</span>
          </div>

          <button v-if="!detail.new"
                  class="mdc-button mdc-button--unelevated mdc-button--dense mdc-theme--secondary-bg"
                  style="float: right"
                  @click="deleteItem">Delete</button>
        </div>

        <hr>
        <div class="mdc-text-field full-width">
          <input type="text" class="mdc-text-field__input" placeholder="Gist description..." v-model="detail.summary">
          <div class="mdc-text-field__bottom-line"></div>
        </div>
      </div>
      <!-- ファイル部分 -->
      <div v-for="(file, index) in detail.files" class="mdc-card">
        <div class="mdc-form-field mdc-form-field--align-end">
          <div class="mdc-text-field full-width">
            <input type="text" class="mdc-text-field__input"
                   placeholder="Filename including extension..." v-model="file.name">
          </div>
          <button v-if="canFileDelete" class="mdc-button" @click="deleteFile(index)">
            <i class="far fa-trash-alt fa-3x mdc-button--dense"></i>
          </button>
        </div>

        <editor :content.sync="file.content" :language="file.language"></editor>
      </div>
      <!-- フッタ部分 -->
      <div class="button-block">
        <button class="mdc-button mdc-button--stroked mdc-button--dense full-width" @click="addFile">Add File</button>
      </div>
      <div class="button-block">
        <button class="mdc-button mdc-button--raised" @click="">Reset</button>
        <button class="mdc-button mdc-button--raised" v-show="!detail.new" @click="update">Update</button>
        <button class="mdc-button mdc-button--raised" v-show="detail.new" @click="create('false')">Create secret gist</button>
        <button class="mdc-button mdc-button--raised" v-show="detail.new" @click="create('true')">Create public gist</button>
      </div>
    </div>

  </main>
</div>

<!-- script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ext-modelist.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="static/index.js"></script>
<script>
  mdc.autoInit();

    // TODO: 仮
    // var modelist = require("ace/ext/modelist");
    //console.debug(modelist.modesByName);

    // var dialog = new mdc.dialog.MDCDialog(document.querySelector('#loading_dialog'));
    // dialog.show();

  let menuEle = document.querySelector('#account-menu');
  let menu = new mdc.menu.MDCSimpleMenu(menuEle);
  document.querySelector('#account-button').addEventListener('click', () => menu.open = !menu.open);
  menuEle.addEventListener('MDCSimpleMenu:selected', function (e) {
      console.log(e.detail);
      switch (e.detail.index) {
          case 0:
              location.replace('/logout');
              break;
      }
  });
</script>

</body>
</html>